  <template>
  <div>
    <div class="row">
      <div class="col">
        <!--  -->
        <SearchField @search="search" placeholder="Filter Playlists"/>

        <PlaylistsList @select="select" :selected="selected" :items="results"/>
      </div>

      <div class="col">
        <template v-if="selected">
          <router-view></router-view>
        </template>
        <p v-else>Please select playlist</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import PlaylistsList from "./components/PlaylistsList.vue";
import PlaylistDetails from "./components/PlaylistDetails.vue";
import { Playlist } from "@/models/Playlist";
import PlaylistForm from "./components/PlaylistForm.vue";
import SearchField from "../components/SearchField.vue";
import { mapGetters, mapActions } from "vuex";

@Component({
  components: {
    PlaylistsList,
    PlaylistDetails,
    PlaylistForm,
    SearchField
  },
  computed: {
    ...mapGetters("playlists", ["playlists", "selected", "query", "results"])
  },
  methods: {
    ...mapActions("playlists", ["select", "search", "save"])
  },
  beforeRouteUpdate(this: Playlists, to, from, next) {
    if (to.params.id) {
      this.selectById(parseInt(to.params.id));
    }
    next();
  }
})
export default class Playlists extends Vue {
  playlists!: Playlist[];
  results!: Playlist[];
  selected!: Playlist | null;
  query!: string;

  select!: (playlist: Playlist) => void;

  @Watch("selected")
  onSelectedChange(selected: Playlist | null) {
    if (selected) {
      this.$router.push({
        // path: "/playlists/" + selected.id.toString()
        name: "playlists_details",
        params: { id: selected.id.toString() }
      });
    }
  }

  selectById(id: Playlist["id"]) {
    this.$store.commit("playlists/selectId", id);
  }
}
</script>
