<template>
  <div id="app">
    <!-- https://getbootstrap.com/docs/4.3/components/navbar/#nav -->

    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
      <div class="container">
        <router-link class="navbar-brand" exact active-class="active" to="/">Music App</router-link>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link
                class="nav-link"
                :to="{
                  name:'search'
                }"
              >Search music</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/playlists">Playlists</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <!-- <Playlists/> -->
      <!-- <MusicSearch/> -->

      <router-view></router-view>
    </div>
  </div>
</template>


<script lang="ts">
// import 'bootstrap/dist/css/bootstrap.css'
import Vue from "vue";
import Playlists from "./playlists/Playlists.vue";
import MusicSearch from "./search/MusicSearch.vue";
import SearchField from "./components/SearchField.vue";
import Card from "./components/Card.vue";

Vue.component("SearchField", SearchField);
Vue.component("Card", Card);

Vue.filter("yesno", (value: boolean, bang: boolean) => {
  return (value ? "Yes" : "No") + (bang ? "!" : "");
});

Vue.filter("timeago", (data: Date) => {
  return " 54 seconds ago"; // github: moment.js
});

export default Vue.extend({
  components: {
    Playlists,
    MusicSearch
  }
  // data(){},
  // methods{}
});
</script>


<style lang="scss">
@import "~bootstrap/dist/css/bootstrap.css";
</style>
