<template>
  <div>
    <!-- <h3 v-for="i in 5">List</h3> -->
    <!-- .list-group>.list-group-item*3{Test} -->

    <div class="list-group">
      <div
        class="list-group-item"
        :class="{'active': selected == playlist}"
        @click="select(playlist)"
        v-for="(playlist,index) of items"
        :key="playlist.id"
      >{{index+1}}. {{playlist.name}}</div>
    </div>
    {{selected && selected.name}}
  </div>
</template>


<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Playlist } from "@/models/Playlist";

@Component({
  props: ["items", "selected"]
})
export default class PlaylistsList extends Vue {
  items!: Playlist[];
  selected?: Playlist;

  select(selected: Playlist) {
    if (this.selected !== selected) {
      this.$emit("select", selected);
    } else {
      this.$emit("select", null);
    }
    // this.$emit('select', this.selected == selected? null :selected)
  }
}
</script>
