<template>
  <div>
    <Card>
      <dl v-bind:id="playlist.id" :title="playlist.name">
        <dt>Name:</dt>
        <dd>{{playlist.name }}</dd>
        <!-- <dd>{{playlist.name | capitalize}}</dd> -->

        <dt>Favourite:</dt>
        <!-- <dd>{{ playlist.favourite? 'Yes' : 'No'}}</dd> -->
        <dd>{{ playlist.favourite | yesno }}</dd>
        <!-- <dd>{{ playlist.favourite | yesno(true) | uppercase || bang | placki(true) }}</dd> -->

        <dt>Color:</dt>
        <dd
          :style=" {
          color: playlist.color,
          'background-color': playlist.color,
          borderBottom:'1px solid ' + playlist.color
        } "
        >{{playlist.color}}</dd>
      </dl>

      <template v-slot:extra>.</template>

      <template v-slot:title="slotProps">
        Details {{slotProps.data}}
        <button class="close">&times;</button>
      </template>

      <input type="button" value="Edit" @click="edit">
    </Card>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Playlist } from "../../models/Playlist";
import PlaylistForm from "./PlaylistForm.vue";
import { mapGetters } from "vuex";

@Component({
  // props:['playlist'],
  components: { PlaylistForm },
  // filters: {
  //   yesno(value: boolean) {
  //     return value ? "Yes" : "No";
  //   }
  // }
  // created(this: PlaylistDetails) {
  //   this.edit();
  // },
  computed: {
    ...mapGetters("playlists", {
      playlist: "selected"
    })
  }
})
export default class PlaylistDetails extends Vue {
  // @Prop()
  // playlist!: Playlist;

  edit() {
    // this.$emit("edit");
    this.$router.replace({
      path: "edit"
    });
  }

  /*  beforeCreate() {
    console.log("beforeCreate");
  }
  constructor() {
    super();
    console.log("constructor");
  }
  created() {
    console.log("created");
  }
  beforeMount() {
    console.log("beforeMount");
  }
  mounted() {
    console.log("mounted");
  }
  beforeUpdate() {
    console.log("beforeUpdate");
  }
  updated() {
    console.log("updated");
  }
  beforeDestroy() {
    console.log("beforeDestroy");
  }
  destroyed() {
    console.log("destroyed");
  } */
}
</script>



