<template>
  <div>
    <h3>Form</h3>

    <form @submit="save">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" v-model="draft.name">
      </div>

      <div class="form-group">
        <label>Favourite:</label>
        <input type="checkbox" v-model="draft.favourite">
      </div>

      <div class="form-group">
        <label>Color</label>
        <input type="color" v-model="draft.color">
        <!-- <input type="color" :value=" parse(playlist.color)" @input=" playlist.color = validate($event.target.value)"> -->
      </div>
      <!-- {{playlist.name}} -->
      <input type="button" value="Cancel" @click="cancel">
      <input type="submit" value="Save" @click="save">
    </form>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from "vue-property-decorator";
import { Playlist } from "@/models/Playlist";
import { mapGetters } from "vuex";

@Component({
  watch: {
    // playlist:{
    //   handler, deep,immidiate
    // }
    playlist(this: PlaylistForm, next: Playlist, prev: Playlist) {
      this.draft = {
        ...next
      };
    }
  },
  computed: {
    ...mapGetters("playlists", {
      playlist: "selected"
    })
  }
})
export default class PlaylistForm extends Vue {
  // @Prop()
  playlist!: Playlist;

  draft!: Playlist;

  created() {
    
    this.draft = {
      ...this.playlist
    };
  }

  // @Watch("playlist", {})
  // onPlaylistChange(next: Playlist, prev: Playlist) {
  //   this.draft = {
  //     ...next
  //   };
  // }

  // beforeUpdate(){
  //   this;
  //   this.draft = {
  //     ...this.playlist
  //   };
  // }

  save() {
    // this.$emit("save", this.draft);
    this.$store.dispatch("playlists/save", this.draft);
    // debugger;
    this.$router.replace({
      name: "playlists_details",
      params: {
        id: this.$route.params.id
      }
    });
  }

  cancel() {
    // this.$emit("cancel");
   
    this.$router.replace({
      name: "playlists_details",
      params: {
        id: this.$route.params.id
      }
    });
  }

  // @Emit()
  // cancel() {
  //   return "$event";
  // }
}
</script>
