<template>
  <!-- div>.row*2>.col -->
  <div>
    <h4>Music Search</h4>

    <div class="row">
      <div class="col">
        <SearchField @search="search" :query="query"/>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="alert alert-info" v-if="loading">Please wait loading</p>

        <input type="button" value="Grid" @click="changeView(ViewType.grid)">
        <input type="button" value="List" @click="changeView(ViewType.list)">
        {{message}}
        <!-- <SearchResults :results="results"/> -->
        <!-- <ResultsGrid :results="results"/> -->
        <!-- <component is="ResultsGrid"  :results="results"></component> -->

        <component :is="currentView" :headers="['Title','Artist']" :results="results">
          <!--  -->
          <template v-slot:default="context">
            <td>{{context.result.name}}</td>
            <td>{{context.result.artists[0].name}}</td>
          </template>
          <!--  -->
        </component>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import SearchField from "../components/SearchField.vue";
import SearchResults from "./components/SearchResults.vue";
import { Album } from "../models/Album";
import { musicSearch } from "@/services";
import ResultsGrid from "./components/ResultsGrid.vue";
import { mapGetters, mapActions } from "vuex";
import { Route } from "vue-router";

export enum ViewType {
  grid = "grid",
  list = "list"
}

@Component({
  components: {
    SearchResults,
    ResultsGrid
  },
  computed: {
    ...mapGetters("search", ["results", "loading"]),
    ...mapGetters("search", {
      message: "errorMessage",
      query: "query"
    })
  },
  methods: {
    ...mapActions("search", ["search"])
  },
  beforeRouteEnter(to: Route, from: Route, next) {
    // this == undefined
    // next(false)
    // next('not_authorized')
    next();
  },
  beforeRouteUpdate(this: MusicSearch, to: Route, from: Route, next) {
    const query = to.query["q"];
    if (typeof query == "string") {
      this.search(query);
    }
    next();
  },
  beforeRouteLeave(this: MusicSearch, to: Route, from: Route, next) {
    // can i leave?
    next()
  }
})
export default class MusicSearch extends Vue {
  /* Store */
  results!: Album[];
  message!: string;
  search!: (query: string) => void;
  /* Store */

  @Watch("query")
  onQueryChange(query: string) {
    this.$router.replace({
      name: "search",
      query: { q: query }
    });
  }

  created() {
    const query = this.$route.query["q"];
    if (typeof query == "string") {
      this.search(query);
    }
  }

  // @Watch("$route.query.q")
  // onParamsChange(query: string) {
  //   //  const query = this.$route.query["q"];
  //   if (typeof query == "string") {
  //     this.search(query);
  //   }
  // }

  currentView: any = SearchResults;

  ViewType = ViewType;

  changeView(type: ViewType) {
    switch (type) {
      case "grid":
        this.currentView = SearchResults;
        break;
      case "list":
        this.currentView = ResultsGrid;
        break;
    }
  }
}

/* 


        <v-map :config="{}">
          <!-- passanger -->
          <v-marker :info="passanger"></v-marker>
          <!-- drivers -->
          <v-marker v-for="driver in drivers" :key="driver.id" :info="driver"></v-marker>
        </v-map>

*/

/* 

        <ResultsGrid :headers="['Title','Artist']" :results="results">
          <!--  -->
          <template v-slot:default="context">
  <td>{{context.result.name}}</td>
  <td>{{context.result.artists[0].name}}</td>
</template>
          <!--  -->
        </ResultsGrid>



 */
</script>

