<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world</h1>

    <div id="root">
      <p v-on:click="changeMessage()">{{ getMessage() }}</p>
      <input />
      <p>{{ nested.message }}</p>
    </div>

    <div id="message1"></div>
    <div id="message2"></div>
    <div id="message3"></div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      var Message = Vue.extend({
        template: '<div v-on:click="changeMessage()"> Lubie {{thing}}</div>',
        data() {
          return { thing: "Placki" };
        }
      });
      var m1 = new Message({ el: "#message1" });
      var m2 = new Message({ el: "#message2", data: { thing: "Ciastka!" } });
      var m3 = new Message({
        el: "#message3",
        methods: {
          changeMessage() {
            m2.thing = "Placki";
          }
        }
      });

      var app = new Vue({
        el: "#root",
        // template: "<div>Ala ma kota {{ 1 + 2 }}</div>",
        data: {
          message: "Ala ma kota",
          nested: {
            message: "Down the rabithole!"
          }
        },
        methods: {
          getMessage() {
            return this.message;
          },
          changeMessage() {
            this.message = "Lubie placki!";
          }
        }
      });

      /* Getters Setters */
      var obj = {
        _secret: "",
        get value() {
          return this._secret
            .split("")
            .reverse()
            .join("");
        },
        set value(v) {
          this._secret = v
            .split("")
            .reverse()
            .join("");
        }
      };
    </script>
  </body>
</html>
