<template>
  <div class="card">
    <img :src="album.images[0].url" class="card-img-top">

    <div class="card-body">
      <h5 class="card-title">{{album.name}}</h5>
    </div>
  </div>
</template>


<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Album } from "../../models/Album";

@Component({})
export default class AlbumCard extends Vue {

  @Prop()
  album!: Album;
}
</script>
