<template>

  <div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th v-for="cell in headers" :key="cell">{{cell}}</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="result of results">
          <tr :key="result.id">
            <slot v-bind:result="result"></slot>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Album } from "../../models/Album";

@Component({})
export default class ResultsGrid extends Vue {
  @Prop()
  results!: Album[];
  @Prop()
  headers!: string[];
}
</script>
