<template>
  <div class="card">
    <!-- <div class="card-header">{{Header}}</div> -->
    <div class="card-body">
      <h5 class="card-title" v-if="$scopedSlots.title">
        <slot name="title" v-bind:data="'placki'"></slot>
      </h5>

      <slot></slot>

      <slot name="extra">Default</slot>
    </div>
    <!-- <div class="card-footer">Footer</div> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({})
export default class Card extends Vue {
  mounted() {
    // this;debugger
  }
}

// export default {}


// <current-user >
//   <template v-slot:default="context">
//     {{context.user.name}}
//     <button @click="context.logout()">Logout</button>
//   </template>
// </current-user>
</script>

